@import url('https://fonts.googleapis.com/css?family=Arya|Niconne|Pinyon+Script|Sarina|UnifrakturMaguntia');

nav {
    display: flex;
    justify-content: space-between;
    background-color: #FCFCFC;
    height: 50px;
    align-items: center;
    padding: 25px;
    border-top: 7px solid rgb(4, 71, 100);
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.myreads-brand {
    font-size: 2em;
    font-family: 'Sarina', cursive;
    color: #0F0F0F;
}

.myreads-button {
    margin: 5px;
    background-color: rgb(81, 174, 214);
    border: none;
    color: rgb(163, 163, 163);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.myreads-button:hover {
    background-color: rgba(0,0,0,0);
    border: 3px solid rgb(63, 152, 190);
    color: rgb(83, 162, 196);
    padding: 7px;
}